CONFIG_SAM9X7=y
# CONFIG_SCLK is not set
CONFIG_DDR_SET_BY_DEVICE=y
CONFIG_DDR_W632GU6NG=y
CONFIG_SDCARD=y
CONFIG_SDHC_ASYNC_READ=y
CONFIG_SDHC_ASYNC_READ_QUEUE_SIZE="256"
CONFIG_LOAD_LINUX=y
CONFIG_OVERRIDE_CMDLINE=y
CONFIG_ARG_CMA=" cma=128m"
CONFIG_ARG_DELAY=""
CONFIG_ARG_MEMTEST=""
CONFIG_ARG_MTD=""
CONFIG_ARG_PRINTK=""
CONFIG_ARG_ROOTFSTYPE=" rootfstype=ext4"
CONFIG_ARG_RW=" rw atmel.pm_modes=standby,ulp0"
CONFIG_UNC_IMAGE=y
CONFIG_OF_OVERRIDE_DTB_NAME="at91-sam9x75_curiosity.dtb"
CONFIG_BOARD_QUIRK_SAM9X75_CURIOSITY=y
# CONFIG_XDMAC is not set
CONFIG_XLCDC=y
CONFIG_LOGO=y
CONFIG_LOGO_SCALE="4"
